$text-color: #555;
$primary-color: #1a73e8;
$white-color: #fff;

$font-body: 'Montserrat', sans-serif;

// Fonts Sizes
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-light-bold: 600;
$font-bold: 900;
